*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Android
*.apk
*.aab
*.ap_
*.dex

# Java
*.class

# Kotlin
*.kotlin_module

# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

# IntelliJ
*.iws
out/
.idea/

# Misc
*.log
